.editor-group-watermark>.letterpress {
    background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode.png") !important;
    opacity: 0.75;
    overflow: visible;
    filter: none;
    transform: scale(1.5, 1.5);
}

.editor-group-watermark>.shortcuts {
    display: none;
}

.editor-widget.suggest-widget {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 5px !important;
    background-color: rgba(var(--vscode-editor-background), 0.95) !important;
    background-image: none;
    backdrop-filter: blur(9px) !important;
    border-radius: 8px !important;
    border: none !important
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 0px !important;
    background-color: rgba(var(--vscode-editorWidget-background), 0.95) !important;
    background-image: none;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px !important;
    border: none !important
}

.titlebar-right > * {
    display: none !important;
}

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
    padding: 10px 10px 18px 10px !important;
    background-color: rgba(var(--vscode-editorWidget-background), 0.95) !important;
    backdrop-filter: blur(8px) !important;
    border-radius: 20px !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* List hover */
/* .monaco-list-row:hover {
    background: rgba(0, 0, 0, .2) !important;
} */

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 3px !important;
    border: none !important;
    background-color: rgba(var(--vscode-editor-background), 0.95) !important;
    font-family: "Geist Mono" !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}
